
@font-face {
    font-family: "Passion One";
    src: url("Fonts/PassionOne-Regular.ttf"),
}

@font-face {
    font-family: "Sriracha";
    src: url("Fonts/Sriracha-Regular.ttf");
}


:root{
    --fonte-destaque:"Passion One";
    --fonte-poesia: "Sriracha";
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkgray;
}

#topo{
    background-color: black;
    color: white;
    text-align: center;
    

}

h1{
    font-family: var(--fonte-destaque);
    color: white;
    text-align: center;
    font-size: 10vw;
    font-weight: lighter;
    font-variant: small-caps;
    padding-top: 50px;
    
}

header > p {
    font-size: 1.5vw;
    padding-bottom: 50px;
}

a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    text-decoration: underline;
}

div{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 3vw;
    font-family: var(--fonte-poesia);
    font-size: 4vw;
}

.fundo-branco{
    background-color: white;
    
}


section > div > p{
    background-color: rgba(0, 0, 0, 0.486);
    width: 50vw;
    color: white;
}

.imagem1{
    background-image: url(Image/background001.jpg);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

.imagem2{
    background-image: url(Image/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
}






footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}